.mainchat
  .mainchat__info
    .mainchat__info__left
      .mainchat__info__left__groupname
        %p
          = @group.name   
      .mainchat__info__left__membercount
        %p
          = @group.users.count
    .mainchat__info__right
      = link_to edit_group_path(@group) do
        %p
          EDIT

  
  .mainchat__members
    .mainchat__members__member
      .mainchat__members__member__image
        = image_tag current_user.image.url,class:"mainchat__members__member__image--icon"
      .mainchat__members__member__name
        = current_user.name
        
    - @group.users.where.not(id:current_user.id).each do |user|
      = link_to user_path(user) do
        .mainchat__members__member
          .mainchat__members__member__image
            = image_tag user.image.url,class:"mainchat__members__member__image--icon"
          .mainchat__members__member__name 
            = user.name

  .mainchat__messagelist
    = render partial:'message', collection: @messages


    .form
      = form_with model: [@group, @message], local: true,id:"form" do |f|
        .form__wrapper
          = f.text_area :content,placeholder:'type a message',class:"form__wrapper--textarea"
          .form__wrapper__bottom
            = f.label :image,class:"form__wrapper__bottom__image" do
              = icon('fas', 'image')
              = f.file_field:image
            = f.submit "SEND",class:"form__wrapper__bottom__submit"