.sidebar
  .sidebar__user
    .sidebar__user__image
      = link_to edit_user_path(current_user) do
        = image_tag current_user.image.url,class:"sidebar__user__image--icon"
    .sidebar__user__name
      = current_user.name
    .sidebar__user__icon
      = icon('fas','bars',class:"sidebar__user__icon--bars")

  .sidebar__config
    .sidebar__config__group
      = link_to new_group_path do
        = icon('fas','users',class:"sidebar__config__group--icon")
        %p 新規グループの作成
    .sidebar__config__user
      -# = link_to edit_user_path(current_user) do
      = link_to users_path do
        = icon('far','address-book',class:"sidebar__config__user--icon")
        %p ユーザー一覧へ

    .sidebar__config__user
      = link_to tweets_path do
        = icon('far','comment',class:"sidebar__config__user--icon")
        %p 記事投稿
  

  .sidebar__grouplist
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .sidebar__grouplist__content
          .sidebar__grouplist__content__name
            = group.name
          .sidebar__grouplist__content__message
            = group.show_last_message

  -# .form
  -#   = form_with model: [@group, @message], local: true,id:"form" do |f|
  -#     .form__wrapper
  -#       = f.text_area :content,placeholder:'type a message',class:"form__wrapper--textarea"
  -#       .form__wrapper__bottom
  -#         = f.label :image,class:"form__wrapper__bottom__image" do
  -#           = icon('fas', 'image')
  -#           = f.file_field:image
  -#         = f.submit "SEND",class:"form__wrapper__bottom__submit"


